/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.section {
	margin: auto !important;
	width: 80% !important;
}

.page-footer {
}

.container-outer {
   min-height:100% !important;
   position:relative !important;
}

.waves-effect input[type="submit"] {
	line-height: inherit;
}

.cr-header {
	margin-left:0px;
	margin-bottom:20px;
}

.cr-button {
	margin-top: 20px;
}

/* fixed footer */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }